body {
    margin: 0px;
    padding: 0px;
}

.navigation {
    background-color: blue;
    width: 12.5vw;
    height: 100vh;
}

.timeline {
    background-color: brown;
    width: 25%;
    height: 100%;
}